<div layout="column" layout-fill layout-align="center center">
	<md-card id="login-card" class="md-whiteframe-z3">
		<md-toolbar layout="row" layout-padding layout-align="center center">
			<span class="axi axi-people"></span><span>Administrator</span>
		</md-toolbar>

		<md-card-content layout-padding layout-fill>
			<form id="login-form" layout="column">
				<md-input-container>
					<label>id</label>
					<input type="text" ng-model="userid" name="userid" focus-on="userid" required>
				</md-input-container>

				<md-input-container>
					<label>password</label>
					<input type="password" ng-model="userpw" name="userpw" focus-on="userpw" required>
				</md-input-container>

				<div id="login-btns" layout="row" layout-fill layout-align="space-around center">
					<md-button class="md-raised md-primary">Login</md-button>
					<md-button class="md-raised md-primary">Join</md-button>
				</div>
			</form>
		</md-card-content>
	</md-card>
</div>