<div layout="column" layout-fill layout-align="center center">
	<md-card id="join-card" class="md-whiteframe-z3">
		<md-toolbar layout="row" layout-padding layout-align="center center">
			<span class="axi axi-person-add"></span><span>Join</span>
		</md-toolbar>

		<md-card-content layout-padding layout-fill>
			<form id="join-form" layout="column">
				<md-input-container>
					<label>ID</label>
					<input type="text" ng-model="userid" name="userid" focus-on="userid" required>
				</md-input-container>

				<md-input-container>
					<label>Password</label>
					<input type="password" ng-model="userpw" name="userpw" focus-on="userpw" required>
				</md-input-container>

				<md-input-container>
					<label>Password confirm</label>
					<input type="password" ng-model="userpw2" name="userpw2" focus-on="userpw2" required>
				</md-input-container>

				<div id="join-btns" layout="row" layout-fill layout-align="space-around center">
					<md-button class="md-raised md-primary">Join Now</md-button>
				</div>
			</form>
		</md-card-content>
	</md-card>
</div>