
#main-screen {
    background-color: #cacaca;
}

.main-contents {
    width: 350px;
    height: 500px;
    background-color: #ffffff;
}

.main-contents > img {
    width: 340px;
    height: 420px;
}

.main-contents > md-card-content {
    height: 55px;
}

.main-contents > md-card-content > .md-subheader {
    padding: 10px;
}

.main-contents > md-card-content > span {
    font-size: 12px;
}

#main-bottom {
    height: 250px;
}