<md-content id="main-wrapper" layout="column" layout-fill>
	<section id="main-screen" flex layout="row" layout-padding layout-align="space-between center">

		<md-button class="md-fab md-raised md-primary">
			<span><b>&lt;</b></span>
		</md-button>

		<md-card class="main-contents md-whiteframe-z2" layout layout-margin ng-repeat="c in contents"
				 layout-align="center center" ng-click="goToDetail($index);">

			<img ng-src="{{c.img}}">

			<md-card-content layout="row" layout-align="center center">
				<md-subheader flex>{{c.title}}</md-subheader>
				<span flex="70">{{c.desc}}</span>
			</md-card-content>
		</md-card>

		<md-button class="md-fab md-raised md-primary">
			<span><b>&gt;</b></span>
		</md-button>

	</section>

	<div class="main-connect" ng-show="!connected" ng-click="toggleConnect();">
		<img ng-src="{{qrcode}}">

		<p>
			<b>
				QR코드를 찍어서 연결하세요<br>
				http://DynamicDisplay.com/{{url}}
			</b>
		</p>
	</div>

	<div class="main-connect connected" ng-show="connected" ng-click="toggleConnect();">
		<img src="Main/imgs/connected.png">

		<p>
			<b>
				연결되었습니다!
			</b>
		</p>
	</div>

	<section id="main-bottom" layout="column" layout-align="center center">

		<div id="main-bottom-cursor">
			▼
		</div>

		<md-list layout="row">
			<md-item ng-repeat="c in contents">
				<md-item-content class="main-thumb" layout="column" layout-align="center center">
					<img ng-src="{{c.thumb}}">
				</md-item-content>
			</md-item>
			<md-item-content class="main-thumb main-bottom-selected md-whiteframe-z3" layout="column"
							 layout-align="center center">
				<img ng-src="{{contents[1].thumb}}">
			</md-item-content>
			<md-item ng-repeat="c in contents">
				<md-item-content class="main-thumb" layout="column" layout-align="center center">
					<img ng-src="{{c.thumb}}">
				</md-item-content>
			</md-item>
		</md-list>
	</section>

</md-content>